html, body{
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#title{
  text-align: center;
  color: black;
}


.item1 {
  grid-area: header;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.item2 {
  grid-area: menu;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.item3 { grid-area: main; }
.item4 { grid-area: elapsed; }
.item5 { grid-area: rest; }
.item6 { grid-area: start; }
.item7 { grid-area: reset; }
.item8 {
  grid-area: top-header;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'top-header top-header top-header top-header top-header'
    'menu header header header header'
    'menu main main main main'
    'menu main main main main'
    'menu elapsed elapsed rest rest'
    'menu start start reset reset';
  gap: 1px;
  /* background-color: #2196F3; */
  background-color: rgba(255, 255, 255, 1);
  padding: 1px;
  grid-template-rows: auto 90px auto auto auto auto;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px 0;
  font-size: 30px;
}

.button {
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:active {
  background-color: #2196F3;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

#header-menu{
	float: center;
	width: 70%;
	height: 100%;
	margin: auto;
  font-size: 12pt;
}

#header-menu ul{
	text-align: center;
	float: center;
	margin: none;
	background: #FFFFFF;
}

#header-menu li{
	display: inline-block;
	padding: none;
	margin: none;
}

#header-menu li a, #header-menu li span{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: lowercase;
}

#header-menu li a{

	color: #000000;
}

#header-menu li:hover a, #header-menu li span{
	background: #FFF;
	color: #333333;
	/* border-left: 1px solid #0074D9; */
	text-decoration: none;
}
