html, body{
  /* why is there this height property? The website doesn't change below 100%. Only above 100%*/
	height: 100%;
}

body{
  /* The margin defines space around the element, outside of any defiend borders. */
	margin: 0px;
  /* Padding is used to create space around an element's content, inside of any defined borders. */
	padding: 0px;
  /* background color */
	background: #FFFFFF;
  /* Define font */
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  /* Define font size */
	font-size: 12pt;
}


/* Define properties for all headings*/
h1, h2, h3{
	margin: 0;
	padding: 0;
  background: #FFFFFF;
	/*color: #404040;*/
  color: #001234;
}


.header .text {
    font-family: sans-serif;
    font-size: 24px;
    color: rgb(26,30,170);
		margin-left: 30%;
}

.header .image{
	max-width: 50%;
	float: right;
	margin-left: auto;
}

.header {
  display:flex;
  align-items:center;
	margin-top: 80px;
}
