html, body{
  /* why is there this height property? The website doesn't change below 100%. Only above 100%*/
	height: 100%;
}

body{
  /* The margin defines space around the element, outside of any defiend borders. */
	margin: 0px;
  /* Padding is used to create space around an element's content, inside of any defined borders. */
	padding: 0px;
  /* background color */
	background: #FFFFFF;
  /* Define font */
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  /* Define font size */
	font-size: 12pt;
}


/* grid definition*/
.item1 { grid-area: header-menu; }
.item2 { grid-area: picture; }
.item3 { grid-area: footer; }

.grid-container {
  display: grid;
  /* grid-template-areas:
    'header-menu'
    'picture'
    'footer'
  gap: 1px; */
  /* background-color: #2196F3; */
  background-color: rgba(255, 255, 255, 1);
  padding: 0px;
  grid-template-columns: auto;
}

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 0px 0;
  font-size: 30px;
} */

/* grid definition end*/

/* Define properties for all headings*/
h1, h2, h3{
	margin: 0;
	padding: 0;
  background: #FFFFFF;
	/*color: #404040;*/
  color: #001234;
}


p, ol, ul{
	margin-top: 0;
}

p {
	line-height: 180%;
}

ol, ul{
	padding: 0;
	list-style: none;
}


#top-header{

	/* text-align: center; */
	/* height: 60px; */
}

#header-menu{
	float: center;
	/* width: 70%;
	height: 100%; */
	margin: auto;
}

#header-menu ul{
	text-align: center;
	float: center;
	margin: none;
	background: #FFFFFF;
}

#header-menu li{
	display: inline-block;
	padding: none;
	margin: none;
}

#header-menu li a, #header-menu li span{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: lowercase;
	line-height: 60px;
}

#header-menu li a{

	color: #000000;
}

#header-menu li:hover a, #header-menu li span{
	background: #FFF;
	color: #333333;
	/* border-left: 1px solid #0074D9; */
	text-decoration: none;
}


#picture{
	float: right;
  position: relative;
  top: 80px;
	margin: auto;
	/*height: 32%;*/
	/*width: 60%;*/
}

#picture img{
	max-width: 60%;
  height: auto;
	float: right;
  margin: none;
  padding: none;
}


#image-text{
    position: absolute;
    top: 45%;
    left: 20%;
    color: #000;
    transform: translate(-30%, -30%);
    text-align: left;
    font-size: 3em;
}


.copyright
{
    overflow: hidden;
    padding: 6em 0em;
    text-align: center;
    background: #fff;
}


.copyright p
{
    letter-spacing: 1px;
    font-size: 0.90em;
    color: #000;
}

#contact li{
  display: inline-block;
	text-align: center;
	margin: auto;
	background: #fff;
  padding: 0em 0.3em;
}


.copyright a
{
    text-decoration: none;
    color: #000;
}
