html, body{
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
/* project-section */

.project-section{
    width: 100%;
    /* min-height: 100vh; */
    padding-left: 50px;
    padding-top: 60px;
    /* padding: 100px 50px 0px 50px; */
    /* padding: 150px 100px 100px; */
    /* position: fixed; */
    top: 0;
    transition: 0.5s;
    opacity: 1;
}


.project-heading{
    font-size: 200%;
    /* background: #252525; */
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 20px;
    color: #1a1a1a;
    /* background-clip: text; */
    /* -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent; */
}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    row-gap: 100px;
    width: 100vw;
    margin:auto;
}

.project-card{
    height: 400px;
    position: relative;
}

.project-img{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-content{
    position: relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

.project-title{
    font-size: 200%;
    text-transform: capitalize;
    text-align: left;
    font-weight: 200;
    margin-top: 4px;
}

.project-info{
    margin: 20px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30%;
    margin-top: 2%;
}

.project-btn.live{
    background: none;
    border: 2px solid #fff;
}

.project-card:hover .project-img{
    filter: blur(20px);
}

.project-card:hover .project-content{
    opacity: 1;
}

.center {
  margin: 0;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
